<% if @tweet.errors.present? %>
    <span style="color:red;">
        <h3>エラーがあります。</h3>
        <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </span>
<% end %>

<%= form_for @tweet, url: {action: :create} do |f| %>
    <%= f.label :message, 'ツイート' %>
    <%= f.text_field :message %>
    <%= f.submit 'ツイート' %>
<% end %>